/* Global styles */
body {
  margin: 10px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-size:  16px;
  color: #24053E;
  zoom: 0.88;
}

h1 {
  text-align: center;
  margin-top: 10px;
  color: #24053E;
  font-family: 'Poppins', sans-serif;
}

/* Grid */
.grid-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start; /* align rows at the top */
  gap: 0;
  font-size: 12px;
  border: 0.5px solid #311552;
}

.grid-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80px; /* set a minimum height for each row */
  border: 1px solid #24053E;
  padding: 1px;
  background-color: #f1edf5;
  font-size: 10px;
}


.grid-cell .label {
  font-size: 12px;
  margin-bottom: 0;
}

.grid-cell .components,
.grid-cell .buffers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  text-align: left;
  width: 95%;
}

.grid-cell .buffers {
  margin-bottom: 2px;
}

.grid-cell .component,
.grid-cell .buffer {
  display: flex;
  align-items: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 2px;
  border-radius: 5px;
  background-color: #f8f8f8;
  width: 100%;
  }

.grid-cell .component:before,
.grid-cell .buffer:before {
  content: " ";
  width: 0px;
  height: 0px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 50%;
  background-color: var(--component-color);
}



.grid-cell .pH {
  font-size: 10px;
}

/* Grid Cell Highlighting */
.grid-cell.highlighted {
  background-color: #9ac3ff;
}

/* Component List */
.added-components-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.added-components-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #24053E;
  margin-bottom: 5px;
}

.added-components-list li button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.added-components-list li button:hover {
  background-color: #3E0705;
}

.add-panels-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 0.8fr;
}

/* Add Component Panel */
.add-component-panel,
.add-ph-panel,
.export-csv-panel {
  border: 1px solid #24053E;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color:  #24053E;
}

.add-component-panel h2,
.add-ph-panel h2 {
  margin-top: 0;
}

.add-component-panel label,
.add-ph-panel label,
.component-list-panel label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.add-component-panel select,
.add-ph-panel select,
.add-component-panel input[type="number"],
.add-ph-panel input[type="number"] {
  width: 100px;
  margin-bottom: 10px;
}

.add-component-panel input[type="submit"],
.add-ph-panel input[type="submit"],
.export-csv-panel button {
  display: inline-block;
  width: 120px;
  margin-top: 0px;
  background-color: #6840A5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.add-component-panel input[type="submit"]:hover,
.add-ph-panel input[type="submit"]:hover,
.export-csv-panel button:hover {
  background-color: #490f69;
}

.add-component-container,
.add-ph-container {
  flex: 1;
}

.add-component-panel input[type="submit"],
.add-ph-panel input[type="submit"] {
  display: block;
  margin-top: 0px;
  width: 100%;
}

/* Component List Panel */
.component-list-panel {
  border: 1px solid #311552;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.component-list-panel h2 {
  margin-top: 0;
}

.component-list-panel li {
  margin-bottom: 5px;
}

/* Added Components List */
#added-components-list {
  list-style: none;
  padding: 0;
}

.added-component,
.added-buffer {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #24053E;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.added-component-name {
  font-weight: bold;
  margin-right: 10px;
}

.delete-component-button,
.delete-buffer-button {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-component-button:hover,
.delete-buffer-button:hover {
  background-color: #640B18;
}

/* Export CSV Panel */
.export-csv-panel {
  border: none;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;

}

.export-csv-panel button {
  padding: 5px 10px;
  background-color: #6840A5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.export-csv-panel button:hover {
  background-color: #490f69;
}

.add-component-panel input[type="submit"],
.add-ph-panel input[type="submit"] {
  display: block;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 100%;
}

.export-csv-panel input[type="submit"] {

  margin-bottom: 15px;

}

.add-component-panel input[type="submit"] + br,
.add-ph-panel input[type="submit"] + br {
  display: none;
}

.add-component-panel label,
.add-ph-panel label,
.export-csv-panel label {
  display: inline-block;
  width: 45%;
  font-size: 16px; /* change this value */
  margin-bottom: 5px;
}

.add-component-panel select,
.add-ph-panel select, 
.export-csv-panel select, 
.add-component-panel input,
.add-ph-panel input {
  display: inline-block;
  width: 50%;
  margin-bottom: 5px;
}



input[type="number"],
input[type="text"] {
  height: 14px;
  font-size: 14px;
}


.add-component-panel form,
.add-ph-panel form,
.export-csv-panel form {
  margin-bottom: 10px;
}

.add-component-panel,
.add-ph-panel {
  border: none;
}

.export-csv-panel label {
  display: block;
  float: left;
  width: 45%;
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

.export-csv-panel input[type="number"],
.export-csv-panel input[type="text"],
.export-csv-panel select {
  display: inline-block;
  float: right;
  width: 50%;
  margin-bottom: 5px;
}


.added-components-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #24053E;
  margin-bottom: 5px;
  position: relative;
}

.added-components-list li::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: var(--component-color); /* Use the assigned color from the dictionary */
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #24053E;
  display: inline-block;
  margin-right: 10px;
}

/* Added Components List */
.added-components-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.added-components-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #24053E;
  margin-bottom: 5px;
}

.added-components-list li.added {
  position: relative;
  align-items: center;
}

.added-components-list li::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--component-color); /* Use the assigned color from the dictionary */
}

.added-components-list li .circle {
  display: none;
}

.added-components-list li.added .circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--component-color);
}

.circle.component {
  background-color: var(--component-color);
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 17%;
}

/* print.css */
#rebuild-button, #add-component-form, #added-components-list, .add-panels-container, p, title, .logo {
  display: none;
}